button {
    background-color: var(--color-secondary);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 25px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(255, 112, 67, 0.4);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-out;

    position: relative;
    overflow: hidden;
    z-index: 1;
}

button::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;

    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.6) 50%,
            rgba(255, 255, 255, 0.1) 100%);
    filter: blur(2px);
    transform: skewX(-30deg);

    z-index: 0;
    transition: all 0.5s;
}

button:hover {
    background-color: #ff5722;
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 5px 15px rgba(255, 112, 67, 0.6);
}

button:hover::after {
    left: 100%;
}

button:active {
    transform: translateY(1px) scale(0.98);
}