<h1>Users with Orders</h1>
<app-card>
  @if (user$ | async; as user) {
  <h2>{{ user.name }}</h2>
  <div class="total-label">Total Orders: <span animateCount [to]="user.total" class="total-count">{{ user.total | number: '1.0-0' }}</span>
  </div>
  } @else {
  <div class="d-flex justify-center">
    <app-loader></app-loader>
  </div>
  }
</app-card>

<section class="d-flex justify-center p-2 gap-1">
  @for (usr of allUsers$ | async; track usr.id) {
  <app-button [actionLabel]="'Select'" [label]="usr.name" (btnClickEvent)="selectUser(usr.id)">
  </app-button>
  }
</section>

<app-credit></app-credit>