<h1>Users with Orders</h1>
<app-card>
  <div *ngIf="user$ | async as user; else loading">
    <h2>{{ user.name }}</h2>
    <h3>Total Orders: <span animateCount [to]="user.total"  class="total-count">{{ user.total | number: '1.0-0' }}</span></h3>
  </div>
</app-card>

<section class="d-flex justify-center p-2 gap-1">
  <ng-container *ngFor="let usr of allUsers$ | async">
    <app-button [actionLabel]="'Select'" [label]="usr.name" (btnClickEvent)="selectUser(usr.id)"></app-button>
  </ng-container>
</section>

<ng-template #loading>
  <div class="d-flex justify-center">
    <app-loader></app-loader>
  </div>
</ng-template>

<app-credit></app-credit>